<form fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="stretch" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="ally-logo" fxFlexAlign="end"></div>

  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center" class="ally-primary-color">
    <mat-icon>lock</mat-icon>
    <div>Login</div>
  </div>

  <mat-form-field>
    <input matInput placeholder="Username" required formControlName="username">
    <mat-error>{{errorMessage('username')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Password" required formControlName="password">
    <mat-error>{{errorMessage('password')}}</mat-error>
  </mat-form-field>

  <button type="submit" [disabled]="!loginForm.valid" fxFlexAlign="end" mat-raised-button color="primary">Log In</button>
</form>
