/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
  min-height: 100vh;
  height: auto;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ally-primary-color: #650360;
}

.ally-primary-color {
  color: var(--ally-primary-color);
}
